.row.words-from-sentence-after style='display: none;'
  .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3
    table.table__words-from-sentence
      thead
        tr
          th
          th#know-th = t 'training.know'
      tbody
        - @words_from_sentence.each do |word_hash|
          tr
            td.td__word
              span.word-skyeng = word_hash['word'].capitalize
            td
              .switcher data-id="#{word_hash['id']}" data-status="#{word_hash['learned'].nil? ? 'unknown' : word_hash['learned']}"
                .switcher-round
                = icon 'check', class: 'icon-check'

    .row#training-legend
      .col-4
        i.fa.fa-circle.unknown aria-hidden='true'
        p.training-legend-text = t 'shared.navigation.words.unknown'
      .col-4
        i.fa.fa-circle.learning aria-hidden='true'
        p.training-legend-text = t 'shared.navigation.words.learning'
      .col-4
        i.fa.fa-circle.learned aria-hidden='true'
        p.training-legend-text = t 'shared.navigation.words.learned'

javascript:
  $(function () {
    'use strict';

    $('.words-from-sentence-after').hide().fadeIn(500);

    // switcher
    var $switcher = $('.switcher');

    $('[data-status="true"]').addClass('switcher_learned');
    $('[data-status="unknown"]').addClass('switcher_unknown');

    $switcher.on('click', function () {
      $.ajax({
        url: '/change_status/' + $(this).data('id') + '/' + $(this).attr('data-status'),
      }).done(function (responce) {
        var $thisButton = $('[data-id=' + responce[0].word_id + ']');
        $thisButton.attr('data-status', responce[0].learned);
        $thisButton.removeClass('switcher_unknown').toggleClass('switcher_learned');
      });
    });

    // skyeng
    var $selectedWord = $('.eng-rus .word-skyeng');

    $selectedWord.qtip({
      position: {
        my: 'center left',  // Position my top left...
        at: 'center right', // at the bottom right of...
      },
      hide:     {
        fixed: true,
        delay: 500,
      },
      style:    {
        classes: 'qtip-bootstrap',
      },
      content:  {
        text: function (event, api) {
          $.ajax({
            url:      '//dictionary.skyeng.ru/api/public/v1/words/search?search=' + $(this).text(),
            type:     'GET',
            dataType: 'json',
          })
            .done(function (data) {

              data = data.sort(function (a, b) {
                return parseFloat(a.id) - parseFloat(b.id);
              });

              var word          = data[0].text;
              var translation   = data[0].meanings[0].translation.text.capitalize();
              var transcription = data[0].meanings[0].transcription;
              var previewUrl    = data[0].meanings[0].previewUrl;
              var soundUrl      = data[0].meanings[0].soundUrl;

              var content = (
              '<div style="font-size: 1.25rem; font-weight: 100">' +
              '<span class="fa fa-volume-up" onclick="$(this).children(\'audio\')[0].play();" style="cursor: pointer">' +
              '<audio src="' + soundUrl + '"></audio>' +
              '</span>' +
              '<span style="color: #b9b9b9"> [' + transcription + ']</span>' +
              '<span> ' + translation + '</span>' +
              '</div>');

              api.set('content.text', content);
            })
            .fail(function (xhr, status, error) {
              api.set('content.text', status + ': ' + error);
            });

          return 'Loading...';
        },
      },
    });
  });
