<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @word_collection.user %>
</p>

<%= link_to 'Edit', edit_word_collection_path(@word_collection) %> |
<%= link_to 'Back', word_collections_path %>
