= form_for(sentence) do |f|
  - if sentence.errors.any?
    #error_explanation
      h2
        = pluralize(sentence.errors.count, 'error')
        | prohibited this sentence from being saved:
      ul
        - sentence.errors.full_messages.each do |message|
          li= message
  .field
    = f.label :id
    = f.text_field :id
  .field
    = f.label :language
    = f.select(:language, User.learning_languages.keys.map { |lang| [lang.titleize, lang] })
  .field
    = f.label :sentence
    = f.text_field :sentence
  .actions
    = f.submit
