= form_for article, url: url do |f|
  = f.text_field :title, class: 'form-control',
          placeholder: t('texts.form.title'),
          maxlength: 100,
          autocomplete: 'off'
  = f.text_area :content,
            class: 'form-control',
            placeholder: t('texts.form.text'),
            maxlength: 100000,
            style: 'resize: vertical; min-height: 300px;',
            autocomplete: 'off'
  .text-center
    = f.button t('texts.form.submit'),
               class: 'btn btn-secondary',
               data: { disable_with: t('texts.form.wait').html_safe }
