<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="row row-content">
      <div class="col-xs-12 wrapper">
        <div class="col-xs-12 links-top" >
          <%= link_to t("texts.links.back"), :back %>
        </div>

        <div class="col-xs-12">
          <h2 class="form-signin-heading"><%= t("texts.new_text") %></h2>
        </div>

        <%= render 'form', article: @article %>
      </div>
    </div>
  </div>
</div>
