.container
  .col-xs-12.col-sm-8.col-sm-offset-2
    .row.row-content
      .col-xs-12.wrapper
        .col-xs-12
          h2.form-signin-heading
            = t('texts.new_text')
        = render 'form', article: @article, url: articles_path