= link_to "users (#{User.count})", admin_users_path
br
= link_to "trainings (#{Training.count})", admin_trainings_path

= javascript_include_tag 'stat'
= line_chart User.group('created_at::date').where(created_at: 1.year.ago..Time.current).count
