<div class="container">
  <div class="row">
    <h3>Users</h3>

      <table class="table"  style="overflow-x:auto;">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg digg_pagination" id="pagination-mobile">
      <%= will_paginate @users, previous_label: '❬', next_label: '❭', outer_window: 0 %>
    </div>

    <div class="hidden-xs col-sm-12 digg_pagination" id="pagination-desktop">
      <%= will_paginate @users, previous_label: '❬', next_label: '❭', outer_window: 0 %>
    </div>


  </div>
</div>
