.container
  .row.row-content
    .col-xs-12
      .col-xs-12.col-sm-6.col-sm-offset-3.wrapper
        h2.form-signin-heading= t('devise.passwords.new.title')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .col-xs-12.error
            p
              = devise_error_messages!
          .field
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('email')
          .field style=('padding-top: 20px') 
            = f.submit t('devise.passwords.new.submit') ,class: 'btn btn-lg btn-primary btn-block'
        = render 'devise/shared/links'
