<footer id="footer">
  <div class="container">
    <!--<p style="padding:0px;"></p>-->
    <p class="text-muted">© 2016 created by <a href="http://fb.com/sadedv">Dmitry Sadovnikov</a></p>
  </div>
</footer>