<footer id="footer">
  <div class="container">
    <p class="text-muted"><i class="fa fa-copyright"></i> 2016 created by <a href="http://fb.com/sadovnikov.dmitry">Dmitry Sadovnikov</a></p>
  </div>
</footer>