<h1>Тексты</h1>

<table>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title , book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый текст', new_book_path %>
