# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 22a4ebafc2747551833bb8f2644b0f325a0f19d74107dbe3be27e5540c95b074ea908d3f523f5fdab0721d17fd943c4daa2e68927f17beca21a442253c1e4062

test:
  secret_key_base: e301ea9c748f1d8880e09ffd1374841f2875ea6668b13ec986f851508ae36ed15d6493662750d9a266c45ff665d9944c43a0c5abb2afdc065276182dba10817b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>