<%= link_to 'Выйти', destroy_user_session_path,  :method => :delete, style: "float: right" %>
<%= link_to 'Войти', new_user_session_path,  :method => :new, style: "float: right" %>
<%= link_to 'Регистрация', new_user_registration_path, style: "float: right" %>
<h1>Hello</h1>
