<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 title">
      <h3>Изучаемые слова</h3>
    </div>
  </div>

  <div class="row row-content">
    <%= render 'words/word_list' %>
  </div>
</div>