<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <% @sentences.each do |sentence| %>
          <div class="col-xs-12" style="margin-bottom: 20px; text-align: center; font-size: 150%">
            <p>
              <% if sentence.audio.nil? %>
                <div class="audioButton glyphicon glyphicon-volume-off"></div>
            <% else %>
                <div class="audioButton glyphicon glyphicon-volume-up" onclick="play()"></div>
                <%= audio_tag("https://audio.tatoeba.org/sentences/eng/#{sentence.id }.mp3", autoplay: false, id: 'audio-play') %>
            <% end %>

            <%= sentence[:sentence] %> </p>
            <p><%= sentence.sentences.to_a.first.sentence %> </p>

          </div>
      <% end %>
      <div class="digg_pagination">
        <%= will_paginate @sentences, :page_links => false, :previous_label => '← Назад', :next_label => 'Далее →' %>
      </div>
    </div>
  </div>
</div>

<!--bugfix for autoplay-->
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    play();
  });

  //audio
  function play(){
    var audio = document.getElementById("audio-play");
    audio.play();
  }
</script>