<h1>Top 5 facts about english language you didn't know</h1>
<%= render 'image' %>
<p>If you love learning about language and culture, you’re in for a real treat. English is a fascinating language with a long and colorful history. Here are some of the most interesting facts about the English language.</p>
<p>1. First of all, English is the most widely spoken language in the world. According to Ethnologue, a language encyclopedia, over 1.5 billion people speak English around the globe. That makes it the third most-spoken language in the world, behind Mandarin and Spanish.</p>
<p>2. English also has the distinction of being the official language of more than 60 countries. This is partially because of its close historical ties with Britain, which was a major colonial power in the 19th century.</p>
<p>3. English also has a long and complex history. It evolved from a variety of different languages, including Old English, German, Latin, and French. This is why English has such an extensive vocabulary. It has borrowed words from many other languages over the centuries.</p>
<p>4. One of the most interesting aspects of English is its spelling. English spelling is notoriously inconsistent and difficult to learn. This is because it has been influenced by many different languages over the years. For example, the word "through" is derived from the Old English word "thoruh," while the word "enough" is derived from the French word "enouf."</p>
<p>5. Finally, English is a living language that changes over time. New words are added to the English language almost every day. In fact, the Oxford English Dictionary adds about 1,000 new words every year!</p>
<p>These are just some of the most interesting facts about the English language. From its long and complex history to its ever-changing nature, English is a fascinating language with a lot to offer.</p>
