<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 mt-2 mb-2">
    <%= link_to "Top 5 facts about english language you didn't know", blog_path(:top_5_facts_about_english_language_you_didnt_know) %>
    <br>
    <%= link_to "The most common spelling mistakes in the english language", blog_path(:the_most_common_spelling_mistakes_in_the_english_language) %>
    <br>
    <%= link_to "The most common pronunciation mistakes in the english language", blog_path(:the_most_common_pronunciation_mistakes_in_the_english_language) %>
  </div>
</div>
