/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

$btnColHover  : #F5F5F5
$btnColBack   :  white
$btnColActive : #82adb0
$bodyTextCol  : #585858


html
  position: relative
  min-height: 100%

body
  font-family: "Lato", Calibri, Arial, sans-serif
  margin-bottom: 60px
  padding: 50px 0px 0px 0px
  background-color: rgb(252, 249, 242)
  color: $bodyTextCol

#footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 60px
  background-color: rgb(240, 237, 234)
  .container
    padding-right: 15px
    padding-left: 15px
    .text-muted
      margin: 20px 0
    a
      color: $text-muted


//NAVBAR
$bgDefault      : #5cafb5
$bgHighlight    : #5cafb5
$colDefault     : #FCF9F2
$colHighlight   : white
$dropDown       : false
.navbar-default
  background-color: $bgDefault
  border: none
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colDefault
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover, &:focus
          color: $colHighlight

    @media (min-width: 768px)
      .dropdown-menu
        border: none
        background-color: white
        #learned
          a
            color: rgb(92, 184, 92)
        #learning
          a
            color: rgb(240, 173, 78)
        #unknown
          a
            color: rgb(183, 183, 183)
        li
          a
            color: $bgDefault
      .active
        a
          background-color: white
          &:hover
            background-color: $btnColHover

      @if $dropDown
        > .dropdown-menu
          background-color: $bgDefault
          > li
            > a
              color: $colDefault
              &:hover, &:focus
                color: $colHighlight
                background-color: $bgHighlight
            > .divider
              background-color: $bgHighlight
    @if $dropDown
      .open .dropdown-menu > .active
        > a, > a:hover, > a:focus
          color: $colHighlight
          background-color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border: none
    &:hover, &:focus
      background-color: $bgDefault
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border: none
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight

////

//search
.search
  color: $bgHighlight

  @media (max-width: 767px)
    left: 8px
  @media (min-width: 768px)
    top: 14px

  input, button, select, textarea
    padding-left: 10px
    padding-right: 3px
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 13px
    border: transparent
    &:focus
      outline: none

  input
    width: 160px
  form
    width: 180px

  button
    bottom: 22px
    border: 0
    background: none
    /** belows styles are working good */
    position: relative
    left: 132px
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 13px

////


//Paginate
.digg_pagination
  text-align: center
  background: transparent
  cursor: default
  border: none
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
    background-color: $btnColBack
    box-shadow: 0 1px 2px rgba(0,0,0,.15)
  .disabled
    color: #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: $bgHighlight
    color: $btnColBack
  a
    text-decoration: none
    color: $bgHighlight
    &:hover, &:focus
      color: $bgHighlight
      background-color: $btnColHover
    &:active
      color: $btnColActive
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
  /* self-clearing method:
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1%
  *:first-child+html &
    overflow: hidden

#pagination-mobile
  position: relative

#pagination-desktop
  position: absolute
  bottom: 70px
  width: 100%

#pagination-mobile, #pagination-desktop
  .next_page, .previous_page
    height: 25.6px
    width: 25.6px

#pagination-training, #pagination-training-without_disabled_links, #pagination-training-spelling, #pagination-training-spelling-without_disabled_links
  left: 50%
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  transform: translateX(-50%)
  font-size: 140%
  position: absolute
  .next_page, .previous_page
    height: 35px
    width: 35px

#pagination-training-spelling, #pagination-training-spelling-without_disabled_links
  display: none

#pagination-training-without_disabled_links, #pagination-training-spelling-without_disabled_links
  .disabled
    display: none
  #end_link
    font-size: 75%
    padding-top: 7px
    height: 35px

////

//Words, texts and training

.training-div
  padding-bottom: 20px
  @media (max-width: 767px)
    margin-top: 40px
  @media (min-width: 768px)
    margin-top: 80px


#right_alert, #wrong_alert
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  display: none
  @media (max-width: 767px)
    top: 60px
  @media (min-width: 768px)
    top: 80px

.links-top
  text-align: right

.myButtons
  text-align: center
  a
    color: $btnColActive !important
  @media (min-width: 769px)
    margin-bottom: 80px

#word_list
  margin-bottom: 20px
  td
    padding: 3px 20px 2px 0
  a
    color: $bodyTextCol

#know-th
  text-align: center
.word_td
  width: 100%

.title
  text-align: center
  padding: 20px 0px 20px 0px
  h3
    margin-top: 10px

#training-sentence-translate
  text-align: center
  @media (max-width: 767px)
    min-height: 162px
  @media (min-width: 768px)
    min-height: 116px
#training-sentence, #audioButton
  display: inline

#translate-btn
  border: none
  background-color: transparent
  outline: none
  margin: 10px

#refresh-btn
  text-decoration: none
  color: #585858
  top: 5px
  font-size: 20px
  padding: 0

#compare-btn-div
  padding: 20px
  text-align: center
  min-height: 80px

#training-help
  font-size: 70%
  float: right

.btn
  margin-bottom: 4px
  white-space: normal
.btn-default
  color: $bgHighlight
  background-color: $btnColBack
  border: none
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  &:hover, &:focus
    border: none
    outline: 0
    color: $bgHighlight
    background-color: $btnColHover
  &:active:focus
    color: $btnColActive
    background-color: $btnColHover
    outline: 0

.button_hide
  position: absolute
  width: 100%
  height: 100%

#switch-off, #switch-on
  color: white
  top: 5px
  position: relative

#switch-off
  float: left
  left: 7px
#switch-on
  float: right
  right: 7px

.result-page
  text-align: center
  padding: 50px 0px 50px 0px

////


//Form
.wrapper
  @media (max-width: 767px)
    margin-top: 35px
    margin-bottom: 20px
  @media (min-width: 768px)
    margin-top: 60px
    margin-bottom: 60px

.wrapper-registration
  margin-top: 35px
  margin-bottom: 35px

.wrapper, .wrapper-registration
  background-color: white
  padding: 15px 35px 45px
  box-shadow: 3px 3px 5px rgba(90,90,90,0.5)
  min-height: 400px
  .field
    padding: 5px 0 5px 0
  .error
    h2
      font-size: 15px
.form-signin-heading
  text-align: center
  margin-bottom: 30px

.form-signin
  max-width: 380px
  padding: 15px 35px 45px
  margin: 0 auto
  background-color: #fff
  border: 1px solid rgba(0,0,0,0.1)

  .form-signin-heading,
  .checkbox
    margin-top: 10px
    margin-bottom: 30px

  .checkbox
    font-weight: normal

  .form-control
    position: relative
    font-size: 16px
    height: auto
    padding: 10px

    &:focus
      z-index: 2



  input[type="text"]
    margin-bottom: -1px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0


  input[type="password"]
    margin-bottom: 20px
    border-top-left-radius: 0
    border-top-right-radius: 0

////

//Training buttons
.audioButton, #giveup, #training-sentence
  cursor: pointer

.glyphicon-volume-off, .glyphicon-volume-up, .glyphicon-flag
  color: $bodyTextCol
  font-size: 25px
  top: 3px

.glyphicon-volume-off
  opacity: 0.3
////

//Switch
.switch
  position: relative
  display: inline-block
  width: 52px
  height: 25px
  top: 5px

  /* Hide default HTML checkbox */
  input
    display: none

  .slider
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15)
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    -webkit-transition: .4s
    transition: .4s
    border-radius: 13px

  .round
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15)
    cursor: pointer
    position: absolute
    content: ""
    height: 19px
    width: 19px
    /*left: 3px changed in html */
    bottom: 3px
    background-color: white
    border-radius: 50%
    -webkit-transition: .4s
    transition: .4s
////

//Other

.alert
  padding-top: 10px
  position: absolute
  margin: 0
  border: none
  width: 100%
  text-align: center

.ico
  width: 18px

.settings_ico
  float: right

.center-btn
  text-align: center
  padding-top: 20px

.checkbox_label
  display: inline-block
  width: 100%
  font-weight: normal
  margin-bottom: 0

.words_checkbox
  margin-right: 15px  !important
////


////
.alert-success, .alert-notice, #right_alert
  color: #5cb85c

.alert-danger, .alert-alert, #wrong_alert
  color: #C32221
////

