/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

$btnColHover  : #F5F5F5
$btnColBack   :  white
$btnColActive : #82adb0


html
  position: relative
  min-height: 100%

body
  font-family: "Lato", Calibri, Arial, sans-serif
  margin-bottom: 60px
  padding: 50px 0px 0px 0px
  background-color: rgb(252, 249, 242)
  .title
    padding: 20px 0px 20px 0px
    @media (max-height: 600px)
      padding: 10px 0px 10px 0px
    @media (max-height: 320px)
      padding: 3px 0px 3px 0px
      h3
        margin-top: 10px

  //.row
  //  margin-right: 0px

#footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 60px
  background-color: rgb(240, 237, 234)
  @media (max-height: 380px)
    display: none
  .container
    padding-right: 15px
    padding-left: 15px
    .text-muted
      margin: 20px 0
    a
      color: $text-muted


//NAVBAR
$bgDefault      : #5cafb5
$bgHighlight    : #5cafb5
$colDefault     : #FCF9F2
$colHighlight   : white
$dropDown       : false
.navbar-default
  background-color: $bgDefault
  border: none
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colDefault
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover, &:focus
          color: $colHighlight
    @media (min-width: 768px)
      .dropdown-menu
        border: none
        background-color: white
        li
          a
            color: $bgDefault
      .active
        a
          background-color: white
          &:hover
            background-color: $btnColHover

      @if $dropDown
        > .dropdown-menu
          background-color: $bgDefault
          > li
            > a
              color: $colDefault
              &:hover, &:focus
                color: $colHighlight
                background-color: $bgHighlight
            > .divider
              background-color: $bgHighlight
    @if $dropDown
      .open .dropdown-menu > .active
        > a, > a:hover, > a:focus
          color: $colHighlight
          background-color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border: none
    &:hover, &:focus
      background-color: $bgDefault
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border: none
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
////

//Paginate
.digg_pagination
  text-align: center
  background: transparent
  cursor: default
  border: none
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
    background-color: $btnColBack
    box-shadow: 0 1px 2px rgba(0,0,0,.15)
  .disabled
    color: #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: $bgHighlight
    color: $btnColBack
  a
    text-decoration: none
    color: $bgHighlight
    &:hover, &:focus
      color: $bgHighlight
      background-color: $btnColHover
    &:active
      color: $btnColActive
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
  /* self-clearing method:
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1%
  *:first-child+html &
    overflow: hidden

#pagination-mobile
  font-size: 140%
  bottom: 5px

#pagination-desktop
  width: 100%

#pagination-practice
  position: fixed
  bottom: 50px
  left: 50%
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  transform: translateX(-50%)
  font-size: 140%
////

//Words and training

#word_list
  @media (max-height: 360px)
    height: 550px
  @media (min-height: 361px)
    height: 600px
  td
    padding: 3px 20px 2px 0

.title
  text-align: center

.btn
  margin-bottom: 4px
  white-space: normal
.btn-default
  color: $bgHighlight
  background-color: $btnColBack
  border: none
  box-shadow: 0 1px 2px rgba(0,0,0,.15)
  &:hover, &:focus
    border: none
    outline: 0
    color: $bgHighlight
    background-color: $btnColHover
  &:active:focus
    color: $btnColActive
    background-color: $btnColHover
    outline: 0

//.odd
//  background: #fafafa

////


//Form
.wrapper 
  margin-top: 80px
  margin-bottom: 80px
  background-color: white
  padding: 15px 35px 45px
  border: 1px solid rgba(0, 0, 0, 0.1)
  .field
    padding: 5px 0 5px 0
  .error
    h2
      font-size: 15px

.form-signin 
  max-width: 380px
  padding: 15px 35px 45px
  margin: 0 auto
  background-color: #fff
  border: 1px solid rgba(0,0,0,0.1)

  .form-signin-heading,
  .checkbox 
    margin-bottom: 30px


  .checkbox 
    font-weight: normal


  .form-control 
    position: relative
    font-size: 16px
    height: auto
    padding: 10px

    &:focus 
      z-index: 2
  


  input[type="text"] 
    margin-bottom: -1px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0


  input[type="password"] 
    margin-bottom: 20px
    border-top-left-radius: 0
    border-top-right-radius: 0



////

//Audio
.audioButton
  cursor: pointer

.glyphicon-volume-off, .glyphicon-volume-up
  color: #2E2F30
  font-size: 25px

.glyphicon-volume-off
  opacity: 0.3
////

//Switch
.switch 
  position: relative
  display: inline-block
  width: 52px
  height: 25px
  top: 5px

  /* Hide default HTML checkbox */
  input 
    display: none

  .slider 
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    -webkit-transition: .4s
    transition: .4s
    border-radius: 25px

  .round 
    cursor: pointer
    position: absolute
    content: ""
    height: 19px
    width: 19px
    /*left: 3px changed in html */
    bottom: 3px
    background-color: white
    border-radius: 50%
    -webkit-transition: .4s
    transition: .4s
////
