@import url(https://fonts.googleapis.com/css?family=Geo);

.cat {
  $mainColor: #bc3633;
  $speechColor: #ff693d;
  $textColor: #FFFFFF;

  margin: 30px auto;
  width:  85px;

  .body div {
    width:      6px;
    height:     6px;
    background: none;
    box-shadow: 36px 54px $mainColor,
                42px 48px $mainColor,
                48px 42px $mainColor,
                36px 66px $mainColor,
                36px 60px $mainColor,
                36px 72px $mainColor,
                36px 78px $mainColor,
                54px 48px $mainColor,
                54px 54px $mainColor,
                60px 54px $mainColor,
                72px 54px $mainColor,
                66px 54px $mainColor,
                78px 54px $mainColor,
                84px 54px $mainColor,
                90px 54px $mainColor,
                96px 54px $mainColor,
                36px 84px $mainColor,
                36px 90px $mainColor,
                102px 54px $mainColor,
                102px 48px $mainColor,
                108px 42px $mainColor,
                114px 48px $mainColor,
                120px 54px $mainColor,
                120px 60px $mainColor,
                120px 66px $mainColor,
                120px 78px $mainColor,
                120px 72px $mainColor,
                120px 84px $mainColor,
                120px 90px $mainColor,
                42px 96px $mainColor,
                48px 102px $mainColor,
                54px 102px $mainColor,
                60px 108px $mainColor,
                114px 90px $mainColor,
                108px 96px $mainColor,
                102px 96px $mainColor,
                66px 114px $mainColor,
                66px 120px $mainColor,
                66px 126px $mainColor,
                66px 132px $mainColor,
                72px 120px $mainColor,
                78px 120px $mainColor,
                90px 120px $mainColor,
                84px 120px $mainColor,
                96px 120px $mainColor,
                102px 120px $mainColor,
                108px 120px $mainColor,
                114px 120px $mainColor,
                114px 126px $mainColor,
                114px 132px $mainColor,
                120px 114px $mainColor,
                126px 114px $mainColor,
                126px 120px $mainColor,
                132px 108px $mainColor,
                132px 102px $mainColor,
                132px 96px $mainColor,
                132px 90px $mainColor,
                132px 84px $mainColor,
                126px 78px $mainColor,
                138px 78px $mainColor,
                138px 72px $mainColor,
                138px 66px $mainColor,
                132px 60px $mainColor,
                54px 72px $mainColor,
                96px 72px $mainColor,
                72px 84px $mainColor,
                78px 84px $mainColor,
                96px 78px $mainColor,
                54px 78px $mainColor;
  }

  .speech {
    position:    relative;
    width:       100px;
    height:      45px;
    margin:      10px -80px;
    text-align:  center;
    background:  $speechColor;
    font-size:   30px;
    font-family: 'Geo', sans-serif;
    color:       $textColor;
  }

  li {
    list-style-type: none;
    border-style:    solid;
    border-width:    0 20px 20px 0;
    border-color:    transparent $speechColor transparent transparent;
  }
}

