<p>Привет <%= @resource.email %>!</p>

<p>Кто-то решил изменить Ваш пароль. Если это Вы, то пройдите по ссылке.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не хотите менять пароль, пожалуйста проигнорируйте это сообщение.</p>
