<p id="notice"><%= notice %></p>

<h1>Изучаемые слова</h1>

<table>



  <tbody>
  <% @eng_words.each do |eng_word| %>
      <tr>

        <td><%= eng_word.word%></td>

      </tr>
  <% end %>
  </tbody>
</table>