link rel="apple-touch-icon" sizes="180x180" href="/assets/logo/apple-touch-icon.png"
link rel="icon" type="image/png" sizes="32x32" href="/assets/logo/favicon-32x32.png"
link rel="icon" type="image/png" sizes="16x16" href="/assets/logo/favicon-16x16.png"
link rel="manifest" href="/assets/logo/manifest.json"
link rel="mask-icon" href="/assets/logo/safari-pinned-tab.svg" color="#5bbad5"
meta name="theme-color" content="#ffffff"
link color="#5bbad5" href="/assets/logo/safari-pinned-tab.svg" rel="mask-icon"
meta content="Enwords" name="apple-mobile-web-app-title"
meta content="Enwords" name="application-name"
meta content="#5cafb5" name="msapplication-TileColor"
meta content="/assets/logo/mstile-144x144.png" name="msapplication-TileImage"
meta content="#ffffff" name="theme-color"
meta content="yes" name="apple-mobile-web-app-capable"
meta content="black" name="apple-mobile-web-app-status-bar-style"
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
meta content=('text/html; charset=UTF-8') http-equiv="Content-Type"