link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-touch-icon.png"
link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png"
link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png"
link rel="manifest" href="/assets/ico/site.webmanifest"
link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#5bbad5"

meta name="description" content=space_body
meta name="keywords" content=t('landings.meta.keywords')
meta property="og:url" content=root_url
meta property="og:title" content=space_title
meta property="og:description" content=space_body
meta property="og:type" content="website"
meta property="og:image" content="https://enwords.app/images/landing/og.jpg"

meta name="msapplication-TileColor" content="#da532c"
meta name="theme-color" content="#ffffff"
meta content="Enwords" name="apple-mobile-web-app-title"
meta content="Enwords" name="application-name"
meta content="#5cafb5" name="msapplication-TileColor"
meta content="/assets/logo/mstile-144x144.png" name="msapplication-TileImage"
meta content="#ffffff" name="theme-color"
meta content="yes" name="apple-mobile-web-app-capable"
meta content="black" name="apple-mobile-web-app-status-bar-style"
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
meta content=('text/html; charset=UTF-8') http-equiv="Content-Type"
